button {
    border-radius: 0;
}

#world {
    display: grid;
    grid-template-columns: auto 1fr;
}

#header {
    grid-row: span 1 / span 1;
    grid-column: span 2/ span 2;
}

aside.sidebar {
    display: flex;
    max-width: 20rem;
    height: fit-content;
}

div.sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 20rem;
    transition: max-width 0.2s ease-in-out;
}

.collapsed>.sidebar {
    max-width: 0rem;
    transition: max-width 0.2s ease-in-out;
}

.collapse-button {
    display: flex;
    max-height: 100%;
}

#main-body {
    padding-top: 1rem;
    padding-left: 2rem;
    width: 100%;
}

.divider {
    height: 0.25rem;
    width: 110%;
    background-color: gray;
    margin-top: 3rem;
    opacity: .5;
}

/* 02 bulk edit */
.htmx-settling tr.deactivate td {
    background: lightcoral;
}

.htmx-settling tr.activate td {
    background: darkseagreen;
}

tr td {
    transition: all 1.2s;
}

/* 04 delete row */
tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* 05 delete row */
.htmx-settling img {
    opacity: 0;
}

img {
    transition: opacity 300ms ease-in;
    margin-bottom: 0rem;
}

/* 07 inline validation */
.error-message {
    color: red;
}

.error input {
    box-shadow: 0 0 3px #CC0000;
}

.valid input {
    box-shadow: 0 0 3px #36cc00;
}

/* 09 active search */
.grayed {
    color: gray;
}


/* 10 progress bar */
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

/* 12 animations */

@keyframes fade-in {
    from { opacity: 0; }
  }

  @keyframes fade-out {
    to { opacity: 0; }
  }

  @keyframes slide-from-right {
    from { transform: translateX(90px); }
  }

  @keyframes slide-to-left {
    to { transform: translateX(-90px); }
  }

  .slide-it {
    view-transition-name: slide-it;
  }

  ::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  ::view-transition-new(slide-it) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }


/* 17 modal-custom */
/***** MODAL DIALOG ****/
#custom-modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#custom-modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#custom-modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#custom-modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#custom-modal.closing > .modal-content {
	/* Aniate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 

/* 18 tabs hateoas */
.tab-list {
    margin-bottom: 1rem;
}



.one-tab {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #57858d;
    color: white;
    border-radius: 1rem;
}

.selected {
    background-color: white;
    color: black;
    border: #57858d;
    border-style: solid;
    border-width: 0.2rem;
}