button {
    border-radius: 0;
}

#world {
    display: grid;
    grid-template-columns: auto 1fr;
}

#header {
    grid-row: span 1 / span 1;
    grid-column: span 2/ span 2;
}

aside.sidebar {
    display: flex;
    max-width: 20rem;
}

div.sidebar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 20rem;
    transition: max-width 0.2s ease-in-out;
}

.collapsed>.sidebar {
    max-width: 0rem;
    transition: max-width 0.2s ease-in-out;
}

.collapse-button {
    display: flex;
}

#main {
    padding-top: 1rem;
    padding-left: 2rem;
    width: 100%;
}

.htmx-settling tr.deactivate td {
    background: lightcoral;
}

.htmx-settling tr.activate td {
    background: darkseagreen;
}

tr td {
    transition: all 1.2s;
}