<div id="tabs" class="tab-list"
     hx-target="#tab-contents" hx-push-url="true"
     _="on htmx:afterOnLoad take .selected for event.target">
    <a style="pointer-events: none">Solution</a>
    <a hx-get="/htmx/update-other-content/solution/1" class="one-tab {% if i = 1 %} selected {% endif %}">1</a>
    <a hx-get="/htmx/update-other-content/solution/2" class="one-tab {% if i = 2 %} selected {% endif %}">2</a>
    <a hx-get="/htmx/update-other-content/solution/3" class="one-tab {% if i = 3 %} selected {% endif %}">3</a>
    <a hx-get="/htmx/update-other-content/solution/3" class="one-tab {% if i = 4 %} selected {% endif %}">4</a>
</div>

<div id="tab-contents" hx-get="/htmx/update-other-content/solution/{{i}}" hx-trigger="load"></div>