{:paths ["src"]
 :tasks {serve {:task serve/-main}
         panas.reload {:extra-deps {io.github.keychera/panas.reload {:git/sha "a210d4539472ac462ca6f8194144ba7bb245c1a0"}}
                       :requires ([panas.reload])
                       :task (panas.reload/-main 'serve/your-router {:port 42042})}}}
